/**
  * Footer styles.
  *
  * @partial init
  */


/* Components */
.footer {
	@include margin-leader;
	@include rhythm-padding;
	background: #efefef;
	color: #999;
	text-align: center;
}

/* Elements */
.footer__logo {
	display: inline-block;
	vertical-align: text-top;
	width: image-width('highfivery.png');
	height: image-height('highfivery.png');
	@include rem-property(background-size, image-width('highfivery.png') image-height('highfivery.png'));
	background: image-url('highfivery.png') no-repeat;

	@include breakpoint(min-resolution 1.5dppx) {
		background-image: image-url('highfivery@2x.png');
	}
}

.footer__social {
	margin-bottom: 0;
	@include rem-property(font-size, 22px);

	a {
		color: #999;
	}
}

/* Modifiers */

/* State */

/* Skin */

/* Responsive */
