/**
  * Stats styles.
  *
  * @partial init
  */

/* Components */
.stat.wrapper {
	@include border-radius;
  @include rem-property(margin-top, 15px);
  @include rem-property(margin-bottom, 15px);
  @include rem-property(padding, 20px);
  background: $secondary-color;
  color: #fff;

  .grid-1 {
  	text-align: right;
  	font-weight: bold;
  }

  @for $i from 1 through $num-columns {
    .grid-#{$i} {
      @include span($i);
    }
  }
}

/* Elements */

/* Modifiers */

/* State */

/* Skin */

/* Responsive */
