@charset "UTF-8";
/**
 *  Contains all style dependencies for the Stratfor theme.
 */
/* Import Sass mixins, functions, variables, Compass modules, etc. */
/**
  * Import Sass mixins, functions, variables, Compass modules, etc.
  *
  * @partial init
  */
/**
  * Theme variables.
  *
  * @partial init
  */
/* Theme Variables */
/* Compass Variables */
/* Susy Variables */
/**
  * Theme functions.
  *
  * @partial init
  */
/**
  * Theme mixins.
  *
  * @partial init
  */
/* HTML element (SMACSS base) rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
  * Base styles.
  *
  * @partial init
  */
html {
  font-size: 100%;
  line-height: 1.5em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  background: #fcfcfc;
  color: #404040;
}

ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 1.25rem;
}

a {
  color: #2980B9;
  text-decoration: none;
}

em {
  font-style: italic;
}

b {
  font-weight: bold;
}

h1,
h2,
h3,
p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.3125rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.5rem;
}

/**
  * Base form styles.
  *
  * @partial init
  */
form {
  display: block;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  margin-top: 1.25rem;
  padding: 1.25rem 0;
  border: 0.0625rem solid #e1e4e5;
  background: #fff;
  color: #404040;
}

input {
  border: 0.0625rem solid #d5d5d5;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
}

input[type='text'],
input[type='date'] {
  width: 100%;
  padding: 0.5rem;
}

/* Layout rules */
/**
  * Grid styles.
  *
  * @partial init
  */
.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 740px) {
  .grid-1 {
    width: 30.30303%;
    float: left;
    margin-left: 1.51515%;
    margin-right: 1.51515%;
  }

  .grid-2 {
    width: 63.63636%;
    float: left;
    margin-left: 1.51515%;
    margin-right: 1.51515%;
  }

  .grid-3 {
    width: 96.9697%;
    float: left;
    margin-left: 1.51515%;
    margin-right: 1.51515%;
  }
}
/* Component (SMACSS module) rules */
/**
  * Utility styles.
  *
  * @partial init
  */
.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #2980B9;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #2980B9 1px 0 6px 1px;
  -ms-box-shadow: #2980B9 1px 0 6px 1px;
  -webkit-box-shadow: #2980B9 1px 0 6px 1px;
  box-shadow: #2980B9 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #2980B9;
  border-left-color: #2980B9;
  border-radius: 10px;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
  * Form styles.
  *
  * @partial init
  */
/* Components */
/* Elements */
.form__ga-authorize {
  padding: 0.9375rem 0;
  cursor: pointer;
  background: #f7991c;
  color: #fff;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.form__ga-authorize:hover {
  background-color: #f05721;
}
.form__ga-authorize .grid-3 {
  padding-left: 1.875rem;
  background: url('../img/ga.svg?1424826031') no-repeat left center;
  background-size: 1.25rem 1.25rem;
}

.form__field {
  line-height: 2.3125rem;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.form__field .icon-info-circled {
  color: #999;
}

.form__errors,
.form__notice {
  margin-bottom: 1.5rem;
}
.form__errors .headline,
.form__notice .headline {
  display: block;
  margin: 0;
  padding: 0.3125rem 0.9375rem;
  color: #fff;
}
.form__errors ul,
.form__notice ul {
  display: block;
  padding: 0.625rem 0.9375rem;
}

.form__errors .headline {
  background: #f0b37e;
}
.form__errors ul {
  background: #fbe9d9;
}

.form__notice {
  margin-top: 1.5rem;
}
.form__notice .headline {
  background: #6ab0de;
}
.form__notice ul {
  background: #e7f2fa;
}

/* Modifiers */
/* State */
/* Skin */
/* Responsive */
/**
  * Header styles.
  *
  * @partial init
  */
/* Components */
.header {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1.3125rem;
  line-height: 3rem;
  background: #343131;
  color: #b3b3b3;
}
.header a {
  color: #27AE60;
}
.header h1 {
  margin: 0;
  font-weight: 300;
}
.header .grid-1:last-child {
  font-size: 1rem;
}
.header .grid-1 {
  width: 30.30303%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}
.header .grid-2 {
  width: 63.63636%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}
.header .grid-3 {
  width: 96.9697%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}

/* Elements */
/* Modifiers */
/* State */
/* Skin */
/* Responsive */
/**
  * Footer styles.
  *
  * @partial init
  */
/* Components */
.footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  background: #f9f9f9;
  color: #999;
  text-align: center;
}

/* Elements */
.footer__logo {
  display: inline-block;
  vertical-align: text-top;
  width: 100px;
  height: 33px;
  background-size: 6.25rem 2.0625rem;
  background: url('../img/highfivery.png?1424914628') no-repeat;
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .footer__logo {
    background-image: url('../img/highfivery@2x.png?1424914859');
  }
}

/* Modifiers */
/* State */
/* Skin */
/* Responsive */
/**
  * Button styles.
  *
  * @partial init
  */
/* Components */
.btn {
  display: inline-block;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  text-align: center;
  cursor: pointer;
  padding: 0.375rem 0.75rem 0.5rem 0.75rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  font-weight: 400;
  background-color: #f3f6f6;
  color: #404040;
  text-decoration: none;
  box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0.5) inset, 0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn:hover {
  background-color: #e5ebeb;
}

/* Elements */
/* Modifiers */
/* State */
/* Skin */
/* Responsive */
/**
  * Stats styles.
  *
  * @partial init
  */
/* Components */
.stat {
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding: 1.25rem;
  background: #27AE60;
  color: #fff;
}
.stat .grid-1 {
  text-align: right;
  font-weight: bold;
}

/* Elements */
/* Modifiers */
/* State */
/* Skin */
/* Responsive */
@font-face {
  font-family: 'icons';
  src: url("../font/icons.eot?70525939");
  src: url("../font/icons.eot?70525939#iefix") format("embedded-opentype"), url("../font/icons.woff?70525939") format("woff"), url("../font/icons.ttf?70525939") format("truetype"), url("../font/icons.svg?70525939#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?70525939#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-github:before {
  content: '\e800';
}

/* '' */
.icon-gplus:before {
  content: '\e801';
}

/* '' */
.icon-facebook:before {
  content: '\e802';
}

/* '' */
.icon-twitter:before {
  content: '\e803';
}

/* '' */
.icon-bug:before {
  content: '\e804';
}

/* '' */
.icon-menu:before {
  content: '\e805';
}

/* '' */
.icon-share:before {
  content: '\e806';
}

/* '' */
.icon-info-circled:before {
  content: '\e807';
}

/* '' */
.icon-attention-circled:before {
  content: '\e808';
}

/* '' */
